.row
  .small-12.columns
    .case_study_header
      = image_tag("case_studies/arbor_metrics.png")
.row
  .small-12.columns
    .leftcontent
      %p.headertext
        %span.blueheader CASE STUDY
        ArborMetrics Solutions, Inc.
      %p
        ArborMetrics Solutions, Inc. is a nationwide vegetation-management company that enables utilities companies to provide safe, reliable electricity by clearing limbs, trees and brush from utility lines and more. ArborMetrics needed to equip its field crews with a mobile computing solution that would allow them to patrol their circuits, track themselves in unfamiliar areas and provide real-time client communications. However, due to the harsh environmental conditions in which they often operate, the mobile computers would need to withstand everything from humid wetlands to snowy mountains, as well as intense shock and vibration. Arbormetrics chose rugged, reliable Panasonic Toughbook® computers, with integrated mobile broadband and GPS, as its mobile computing solution of choice. With this technology, ArborMetrics ensured that its crews could operate quickly and effectively and keep its customers satisfied. ArborMetrics Project Coordinator Scott J. Nelson said that Panasonic Toughbook is what makes the job possible "because it can survive the terrain. It can survive the conditions that I don't think any other computer could do.