.row
  .small-12.columns
    .case_study_header
      = image_tag("/assets/case_studies/bates-logo.jpg")
.row
  .small-12.columns
    .leftcontent
      %p.headertext
        %span.blueheader CASE STUDY
        Bates County Memorial
      %p
        Bates County Memorial Hospital, a 60-bed facility in Missouri, was ready to transition its 24-hour emergency department from pen-and-paper to an electronic medical record (EMR) system that would allow the hospital to more efficiently manage ER patients and their records. After finding the right EMR solution, the staff tested out a variety of mobile clinical assistants. Based on user feedback, Bates selected the Panasonic Toughbook H1 Health for its easy-to-use dual-touch screen functionality, hot-swappable batteries, light weight and ergonomic design. Since implementing the Toughbook H1 as part of its EMR solution, Bates has significantly streamlined the workload of clinicians by providing immediate access to medical records at the point of care.
      %p
        Bates has invested more than $1.5 million in state-of-the-art technology—typically not accessible to hospitals of its size—so that patients don't have to travel long distances to get quality medical care. Understanding the significance of utilizing technology in healthcare, Bates was ready to transition its 24-hour, physicianstaffed emergency department from a "pen-and-paper" system to an electronic medical record (EMR) system that would allow the hospital to more efficiently manage ER patients and their records.
.row
  .small-3.columns
    &nbsp;
  .small-5.columns
    .download
      %p.left
        %b
          <a href="/assets/case_studies/Toughbook_BatesMemorial_CaseStudy.pdf">DOWNLOAD CASE STUDY
          %br
          328K
          </a>
      <a href="/assets/case_studies/Toughbook_BatesMemorial_CaseStudy.pdf">
      = image_tag("pdf-glow.png", {class: "right"})
      </a>
  .small-4.columns
    &nbsp;
