.row
  .small-12.columns
    .case_study_header
      = image_tag("case_studies/boca-patch.png")
.row
  .small-12.columns
    .leftcontent
      %p.headertext
        %span.blueheader CASE STUDY
        Boca Raton Police Services Department
      %p
        The Boca Raton Police Services Department (BRPSD) in south Florida required a durable mobile computing solution that enabled secure, reliable data access in a range of environments. Offering all-weather designs, shock-mounted hard drives and reliable, embedded wireless connectivity, Panasonic Toughbook fully-rugged laptops were deployed throughout the force - from squad cars and motorcycles to marine vehicles. In the field, the rugged computers have proven invaluable, keeping officers connected and helping them perform their duties, even in the midst of a hurricane.
.row
  .small-3.columns
  .small-5.columns
    .download
      %p.left
        %b
          <a href="case_studies/Toughbook_Boca_Raton_Case_Study.pdf">DOWNLOAD CASE STUDY</a>
          %br
          775K
      = image_tag("pdf-glow.png", {class: "right"})
  .small-4.columns