.row
  .small-12.columns
    .case_study_header
      = image_tag("case_studies/harley_logo.eps")
.row
  .small-12.columns
    .leftcontent
      %p.headertext
        %span.blueheader CASE STUDY
        Harley Davidson
      %p
        Harley-Davidson's worldwide network of 1,450 dealers plays a vital role in providing service to its customers. In order to provide fast, responsive customer support and keep its service technicians productive, they needed a reliable mobile computing solution that could stand up to the harsh environment of service bays. After careful consideration, Harley-Davidson decided to equip its dealers with Toughbook rugged laptops. The spill-proof keyboard, shock-resistant hard drive and durable magnesium alloy case of the Toughbook stood up to punishing use in the service bays. Bright touch screen displays provided easy use and a clear view, even in direct sunlight, allowing technicians to work outside the service bays. These advantages, coupled with the high reliability and low failure rate of Toughbook computers led to dramatic increases in productivity, allowing service managers to book more customers each day. Most importantly, customers left the dealer with a positive service experience that added to their loyalty.
.row
  .small-3.columns
  .small-5.columns
    .download
      %p.left
        %b
          <a href="case_studies/ServiceDiag_HarleyDavidson.pdf">DOWNLOAD CASE STUDY</a>
          %br
          475K
      = image_tag("pdf-glow.png", {class: "right"})
  .small-4.columns