.row
  .small-12.columns
    .case_study_header
      = image_tag("/assets/case_studies/snapon-logo.jpg")
.row
  .small-12.columns
    .leftcontent
      %p.headertext
        %span.blueheader CASE STUDY
        Snap-on Diagnostic
      %p
        Snap-on Incorporated is a global leader in professional tools, diagnostics and equipment. While designing its ShopStream software, Snap-on realized that they needed to couple the software with a rugged and reliable laptop. Snap-on chose Toughbook mobile computers for their ability to withstand drops, jolts, vibrations and spills and because of the anti-glare, daylight viewable touch screen displays and integrated wireless capabilities. As part of the ShopStream solution, Toughbook computers enabled shop technicians to communicate wirelessly with business management and repair information systems in the front office. This allowed technicians to achieve dramatic increases in productivity, so shop owners could book more repairs each day. In addition, part suppliers delivered orders faster and more accurately. Ultimately, these benefits resulted in highly satisfied ShopStream customers for Snap-on.  
.row
  .small-3.columns
    &nbsp;
  .small-5.columns
    .download
      %p.left
        %b
          <a href="/assets/case_studies/ServiceDiag_SnapOn.pdf">DOWNLOAD CASE STUDY
          %br
          1.2MB
          </a>
      <a href="/assets/case_studies/ServiceDiag_SnapOn.pdf">
      = image_tag("pdf-glow.png", {class: "right"})
      </a>
  .small-4.columns
    &nbsp;
