.row
  .small-12.columns
    .case_study_header
      = image_tag("/assets/case_studies/smeco-logo.jpg")
.row
  .small-12.columns
    .leftcontent
      %p.headertext
        %span.blueheader CASE STUDY
        Amica
      %p
        Southern Maryland Electric Cooperative (SMECO) is a utility power provider responsible for providing electric service to roughly 150,000 customers in Southern Maryland. As an electric cooperative, SMECO is responsible for keeping customers' power up and running—even during extreme weather. Its mobile crews range in size from one to four people with 90 to 100 crews in the field.
      %p
        Before moving to a mobile computing solution, SMECO depended on radio dispatches and handwritten notes to communicate and direct mobile crews. However, notes were often lost or not filed properly, and crews were spending a lot of time on the radio with dispatch. SMECO recognized a modern dispatch system was necessary in order to efficiently track and manage work orders. The primary goal was to integrate mobile computers with SMECO's outage management solution to issue computer-assisted dispatches.
.row
  .small-3.columns  
    &nbsp;   
  .small-5.columns
    .download
      %p.left
        %b
          <a href="/assets/case_studies/Panasonic_SMECO_CaseStudy.pdf">DOWNLOAD CASE STUDY
          %br
          688K
          </a>
      <a href="/assets/case_studies/Panasonic_SMECO_CaseStudy.pdf">
      = image_tag("pdf-glow.png", {class: "right"})
      </a>
  .small-4.columns
    &nbsp;
