.row
  .small-12.columns
    .case_study_header
      = image_tag("case_studies/volvo-safety-systems_100417373_l.jpg")
.row
  .small-12.columns
    .leftcontent
      %p.headertext
        %span.blueheader CASE STUDY
        Volvo of North America
      %p
        Volvo was among the first car manufacturers to equip service technicians with mobile computing technology. However, the laptops that were originally deployed couldn't withstand the greasy, grimy environment of service bays. To cut computer repair and downtime costs, Volvo switched to Toughbook computers with rugged magnesium alloy cases, shock-mounted hard drives and spill resistant keyboards and touchpads. Volvo installed its own proprietary software on Toughbook laptops to create a total mobile computing solution for diagnostic testing and maintenance. Whether technicians were working on vehicles or on the go, technicians could upload work orders, perform tests and check parts inventories. Volvo has averaged almost 100 percent "uptime" from Toughbook laptops, helping service managers to boost productivity, reduce overhead costs and improve the speed and quality of service.
.row
  .small-3.columns
  .small-5.columns
    .download
      %p.left
        %b
          <a href="case_studies/Transp_Volvo.pdf>DOWNLOAD CASE STUDY</a>
          %br
          343K
      = image_tag("pdf-glow.png", {class: "right"})
  .small-4.columns